<section>
  <div class="hour-input-container">
    <label for="hours-input">h</label>
    <div class="input-and-btn-wrapper">
      <app-increase-decrease-btn
        type="INC"
        (incDecEvent)="increaseHours()"
      ></app-increase-decrease-btn>
      <div class="input-bezel">
        <input type="number" id="hours-input" [(ngModel)]="hours" />
      </div>
      <app-increase-decrease-btn
        type="DEC"
        (incDecEvent)="decreaseHours()"
      ></app-increase-decrease-btn>
    </div>
  </div>

  <div class="minute-input-container">
    <label for="minutes-input">m</label>
    <div class="input-and-btn-wrapper">
      <app-increase-decrease-btn
        type="INC"
        (incDecEvent)="increaseMinutes()"
      ></app-increase-decrease-btn>
      <div class="input-bezel">
        <input
          type="number"
          id="minutes-input"
          min="0"
          max="59"
          [(ngModel)]="minutes"
        />
      </div>
      <app-increase-decrease-btn
        type="DEC"
        (incDecEvent)="decreaseMinutes()"
      ></app-increase-decrease-btn>
    </div>
  </div>
</section>
