section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 2rem;

  .hour-input-container,
  .minute-input-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    label {
      color: #5f6368;
    }

    .input-and-btn-wrapper {
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      input {
        width: 3rem;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(22, 41, 57);
        color: rgb(108, 255, 206);
        border: none;
        border-radius: 0.5rem;
      }
    }
  }
}
