// The neumorphic styles are copied and adaptet from this project: https://codepen.io/myacode/pen/PoqQQNM

:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;

  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

$shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
  -0.2rem -0.2rem 0.5rem var(--white);
$inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
  inset -0.2rem -0.2rem 0.5rem var(--white);

$bezel-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
  -0.2rem -0.2rem 0.5rem var(--white);
$bezel-shadow-m: 0.5rem 0.5rem 1rem var(--greyLight-3),
  -0.4rem -0.4rem 1rem var(--white);

$surface-light: rgb(212, 244, 247);

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  padding: 1.5rem;
  background-color: var(--greyLight-1);
  margin: 0;
}

// Remove the spinboxes from the number inputs. Copied and adapted from: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.neumorphic-btn {
  width: 4rem;
  height: 4rem;
  background-color: var(--greyLight-1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  //border: 2px solid var(--greyLight-1);
  padding: 1rem;
  box-shadow: $shadow;
  &:active {
    box-shadow: $inner-shadow;
    color: var(--primary);
  }
  &:hover {
    color: var(--primary);
  }
}

.active-btn {
  border: 2px solid rgba(76, 194, 253, 0.88);
}

.btn-s {
  width: 2rem;
  height: 2rem;
}

.btn-l {
  width: 6rem;
  height: 6rem;
}

.btn-bezel,
.btn-bezel-m {
  border-radius: 50%;
  border: 0.2rem solid var(--greyLight-1);
  box-shadow: $bezel-shadow;
}

.btn-bezel-m {
  box-shadow: $bezel-shadow-m;
}

.input-bezel {
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  box-shadow: $inner-shadow;
  background: none;
  font-family: inherit;
  color: var(--greyDark);
  overflow: hidden;
  padding: 0.7rem;

  &:focus {
    outline: none;
    box-shadow: $shadow;
  }
}

// General Layout etc.
.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Typography

h2 {
  color: #1e7764;
}
